<div class="grid homepage">
  <div class="grid2">
    <div>
      <logo></logo>
      <div class="summary-container">
      <ul class="summary reset margin-top2x">
        <li class="icon-secure">
          <h5>Secure</h5>
          <small>Private conversations on-demand</small>
        </li>
        <li class="icon-timely">
          <h5>Timely</h5>
          <small>Conversations live as long as you want</small>
        </li>
        <li class="icon-storage">
          <h5>Self-destructive</h5>
          <small>Messages and pictures are not saved</small>
        </li>
      </ul>
      </div>
      <div class="center" style="margin-top: 40px;">
        <a href="https://itunes.apple.com/us/app/morseroom/id1037688551?ls=1&mt=8"><img src="img/button-appstore.png" width=180></a>
      </div>
    </div>
  </div>
  <div class="grid2">
    <div></div>
  </div>
</div>
<div class="grid footer">
  <div class="grid1">
    <div>
      <small>Morseroom &copy; {{year}} All rights reserved. <a href="files/privacy.pdf">Privacy Policy</a>. <a href="files/terms.pdf">Terms and Conditions</a>.
    </div>
  </div>
</div>
